html,body {
  height: 100%;
  width: 100%;
  }

.container {
  margin-top: 10px;
  height: auto;
  position: relative;
}

ul.list-group.answer-ul {
  position: absolute;
  right: -120px;
}
ul.list-group.question {
  position: absolute;
    right: -70px;
    top: 4px;
}

li.list-group-item.answer-li {
  display: inline;
}
.hvr-bounce-in, .hvr-bounce-out{
  height: 20px;
}
/* .container .input-group {
  width: 100%;
  position: absolute;
  bottom: -70px;
} */
span img {
  position: absolute;
  left: -70px;
  height: 40px;
}
.answer {
  position: relative;
  min-height: 140px;
  background: #f4f3f0;
  padding-left: 10px;
  margin-top: 15px;
}
.badge.badge-secondary{
  font-size: 20px;
}
.list-group-item.hvr-hang {
  font-size: 20px;
  color: red;
}
.badge.badge-light {
  position: absolute;
  top: 10px;
}
.question.badge.badge-light{
  position: initial;
}
.tick-icon{
  position: absolute;
    right: 1px;
    top:1px;
}
.username.hvr-grow{
  position: relative;
    left: 1px;
    border-radius: 1rem;
    height: 20px;
}
.timestamp.hvr-buzz{
  position: relative;
    height: 20px;
    left: 0px;
}